header{
  position: absolute;
  width: 100%;
}

.logo{
  background: url(/img/logodark.png) no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  float: left;
  margin-top: -1.25em;
}

nav{
  text-align: center;
  padding: 40px;
  text-shadow: 3px 3px 3px black;
  letter-spacing: 2px;
}

.reservations{
    text-shadow: 3px 3px 3px black;
    float: right;
}


