header{
  position: absolute;
  width: 100%;
}

.logo{
  background: url(/img/logodark.png) no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  float: left;
  margin-top: -1.25em;
}

nav{
  text-align: center;
  padding-top: 40px;
  text-shadow: 3px 3px 3px black;
  letter-spacing: 2px;

  .nav-item{
    margin: 0 1.75em;
  }

  
}

.reservations{
    text-shadow: 3px 3px 3px black;
    float: right;
}

@media only screen and (max-width: 1000px) {
  .nav .nav-item{
    margin:0 1em;
  }

  .reservations{
    text-shadow: 3px 3px 3px black;
    float: none;
}
}
