@import 'variables';

.topImg{
  background-image: linear-gradient(135deg, #ffffff00, #0000006b 60%, black), url(https://wallpapers.wallhalla.com/pGgQpOgvSYeG_0pT381N_47c24138/aHR0cHM6Ly9hbHBoYS53YWxsaGF2ZW4uY2Mvd2FsbHBhcGVyLzY1MTU2Nw==);
  min-height: 100vh;
  overflow: auto;

  // https://wallpapers.wallhalla.com/NNJrK057FaN_6dI61yN_0e2d7547/aHR0cHM6Ly93YWxsLmFscGhhY29kZXJzLmNvbS9iaWcucGhwP2k9OTE5NjU4

  // https://wallpapers.wallhalla.com/QwOALOvsAoN_M8IQqq0_3c2ade4f/aHR0cHM6Ly93YWxsLmFscGhhY29kZXJzLmNvbS9iaWcucGhwP2k9ODg3NDg4
}

.welcome{
  color: white;
  text-shadow: 3px 3px 3px black;
  letter-spacing: 15px;
}

.intro{
  text-align: right;
  padding-top: 16em;
}

.title{
  color: white;
  font-size: 5em;
  text-shadow: 3px 3px 3px black;
  font-weight: 700;
  font-family: $ff-title;
  margin-top: .25em;
}

.below{
  color: white;
  font-weight: 700;
  font-size: 3em;
  text-shadow: 3px 3px 3px black;
  font-family: $ff-title;
}

.contact-info{
  color: white;
  text-align: right;
  margin-top: 24em;
}

.small-text{
  text-shadow: 3px 2px 1px black;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.phone{
  font-size: 2rem;
  text-shadow: 3px 3px 3px black;
  margin-bottom: 30px;
  font-family: $ff-number;
}

.hours{
  text-shadow: 3px 2px 1px black;
  letter-spacing: 2px;
}

.bowl{
  background: url(/img/bowl.png) no-repeat;
  height: 500px;
  width: 500px;
  background-size: contain;
  margin-top:-14em;
}